{% extends 'base.html' %}
{% block title %}CRUD System - Index{% endblock %}
{% block content %}
    <form class="form-group row" method="post" action="{% url 'index' %}">
        {% csrf_token %}
        <div class="col-md-4">
            <label for="username" class="col col-form-label">User name</label>
            <input type="text"  name="username" id="username" class="form-control" placeholder="" aria-describedby="usernameHelp">
            <small id="usernameHelp" class="form-text text-muted">Enter username</small>
        </div>
        <div class="col-md-4">
            <label for="phone" class="col col-form-label">Phone number</label>
            <input type="text" name="phone" id="phone" class="form-control" placeholder="" aria-describedby="phoneHelp">
            <small id="phoneHelp" class="form-text text-muted">Enter phone number</small>
        </div>
        <div class="col-md-4">
            <label for="email" class="col col-form-label">Email</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">Enter email</small>
        </div>
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary">add</button>
        </div>
    </form>
{% endblock %}